body {
  background-color: #F8F9F9;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.AppTitle {
  position: absolute;
  top: 50px;
}
